<html>
<head>
    <meta charset="utf-8" />
    <title>Bat Stats: Card List Editor</title>
</head>
<body>
    {% if selected_cards %}
        <ul>
            {% for card in selected_cards %}
                <li>{{card.name}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No cards have been added yet.</p>
    {% endif %}

    {% if card_options %}
        <div>
            {% for card in card_options %}
                <img src="{{card.image}}" style="width:300px"/>
            {% endfor %}
        </div>
    {% else %}
        <p>No card options available.</p>
    {% endif %}
</body>
</html>