{% extends 'list_editor/base.html' %}

{% block content %}
    <div class="w-small w-2/3 mx-auto py-10 text-gray-600">
        <input
          type="text"
          name="search"
          hx-post="/search/"
          hx-trigger="keyup changed delay:250ms"
          hx-indicator=".htmx-indicator"
          hx-target="#todo-results"
          placeholder="Search"
          class="bg-white h-10 px-5 pr-10 rounded-full text-2xl focus:outline-none"
        >
        <span class="htmx-indicator">Searching...</span>
    </div>

    {% if search_results %}

    {% endif %}

    {% if selected_cards %}
        <ul>
            {% for card in selected_cards %}
                <li>{{card.name}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No cards have been added yet.</p>
    {% endif %}

    {% if card_options %}
        <div>
            {% for card in card_options %}
                <img src="{{card.image}}" style="width:300px"/>
            {% endfor %}
        </div>
    {% else %}
        <p>No card options available.</p>
    {% endif %}
{% endblock %}