{% extends 'list_editor/base.html' %}

{% block content %}

    <section class="p-4 mx-16 space-y-4">
        <div class="block h-12 bg-blue-50 rounded-lg">
            {% if selected_cards %}
                <ul>
                    {% for card in selected_cards %}
                        <li>{{card.name}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No cards have been added yet.</p>
            {% endif %}
        </div>

        {% component_block "card_search" search_results=search_results page=page %}
        {% endcomponent_block %}
    </section>
{% endblock %}